@use '../../common';

.explore__main {
	display: flex;
	flex-flow: column;
	gap: 2em;

	h4 {
		margin-bottom: -1em;
	}
}

.selectpl {
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: 1.5em;

	h2 {
		text-align: center;
	}

	&__cntr {
		margin-top: 0.5em;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0.75em 1.5em;
	}

	&__pl {
		display: flex;
		align-items: center;
		padding: 0.75em;
		border-radius: 8px;
		gap: 1em;

		transition: background 50ms ease-out, transform 50ms ease-in-out;
		&:hover {
			background: common.$faded;
		}

		&:active {
			transform: scale(0.98);
		}
	}

	&__img-cntr {
		flex-shrink: 0;
		width: 4em;
		height: 4em;
		border-radius: 5px;
		overflow: hidden;
	}

	&__title {
		font-size: 1.25em;
		text-align: left;
	}
}

.search {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 3.25em;
	background: common.$bg-darker;
	border-radius: 8px;
	overflow: hidden;

	input {
		flex: 1;
		padding: 0 1em;
		font-size: 1.3rem;
	}

	button {
		flex: 8em 0;
		padding: 0.5em;
		background: common.$primary;

		svg {
			fill: common.$bg-darker;
			transition: transform 50ms ease-in-out;
		}

		&:active {
			svg {
				transform: scale(0.92);
			}
		}
	}
}

.addtopl {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__prompt {
		font-size: 1.2em;
		color: change-color(common.$text-light, $alpha: 0.5);
	}

	.btn {
		padding: 0.3em 0.75em;
	}
}

.results {
	display: flex;
	flex-flow: column;
	gap: 0.5em;
}
