@use '../../common';

.playlists {
	&__main {
		display: flex;
		flex-flow: column;
		gap: 1em;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
		gap: 2em;
	}
}

.addplcard {
	border: common.$primary 2px dashed;

	svg {
		color: common.$primary;
		width: 50%;
		margin: auto;
	}

	transition: transform 50ms ease-in-out;
	&:active {
		transform: scale(0.985);
	}
}

.plform {
	width: 30em;
	display: flex;
	flex-flow: column;
	gap: 2em;

	&__btns {
		display: flex;
		justify-content: space-between;
		gap: 1em;
	}

	input {
		border-bottom: 1px solid common.$text-light;
		padding: 0.25em 0;
		font-size: 1.2rem;
	}
}

.plcard {
	max-width: 18em;

	display: flex;
	flex-flow: column;
	border-radius: 10px;
	overflow: hidden;
	background: common.$bg-darker;
	box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.15);

	&__img-cntr {
		flex-shrink: 0;
		height: 9em;
	}

	&__info {
		padding: 1em;
		display: flex;
		flex-flow: column;
		gap: 0.75em;
	}

	&__title-cntr {
		height: 3.5em;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__extra {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__song-count {
		font-weight: 500;
		font-size: 1.125rem;
	}

	&__btn {
		width: 1.25em;
	}
}
