@use '../../common';

.login {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;

	&__cntr {
		display: grid;
		grid-template-columns: 1fr 1fr;
		place-items: center;
		gap: 3em 10em;

		background: common.$bg-darker;
		box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.15);
		border-radius: 16px;
		padding: 3em 5em;

		position: relative;
		&::after {
			content: '';
			position: absolute;
			height: 85%;
			border: 1px solid adjust-color($color: common.$faded, $alpha: 0.3);
		}

		animation: login-mount-anim 300ms cubic-bezier(0.34, 0.68, 0.43, 0.91);
	}

	@keyframes login-mount-anim {
		from {
			transform: translateY(-90vh);
		}
		to {
			transform: translateY(0);
		}
	}

	&__img-cntr {
		flex-shrink: 0;
		width: 14em;
	}

	.gbtn.--login {
		font-size: 1.4rem;

		&__icon-cntr {
			height: 1.75em;
			width: 1.75em;
		}
	}
}
