@use './common';

/* ========
	Resets
	======= */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

svg {
	display: block;
	width: 100%;
	height: 100%;
}

button {
	color: inherit;
	background: inherit;
	font: inherit;
	outline: none;
	border: none;

	cursor: pointer;
	&:disabled {
		cursor: not-allowed;
		pointer-events: none;
	}
}

a {
	color: inherit;
	font: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

input[type='text'] {
	background: inherit;
	font: inherit;
	color: inherit;
	border: 0;
	display: block;
	outline: 0;
	width: 100%;
}

input[type='checkbox'] {
	appearance: none;
}

input[type='range'] {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
	}
}

/* ===============
	Global Styles
	=============== */

body {
	font-family: Cabin, sans-serif;
	color: common.$text-light;
	background: common.$bg-dark;
	overflow-y: scroll;
}

main {
	padding: 2em 3em 3em 3em;
	margin-bottom: 5em;

	animation: main-mount-anim 200ms ease-out;
}

@keyframes main-mount-anim {
	from {
		transform: scale(0.96);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

h1 {
	font-size: 2.5rem;
	font-weight: 700;
}

h2 {
	font-weight: 600;
	font-size: 1.5rem;
}

h4 {
	font-weight: 500;
	font-size: 1.125rem;
	text-transform: uppercase;
	color: common.$primary;
}

svg {
	fill: common.$text-light;
}

.gbtn {
	cursor: pointer;
	padding: 0.25em 0.5em;
	border-radius: 8px;

	display: flex;
	align-items: center;
	gap: 0.75em;

	transition: background 150ms ease, color 150ms ease;
	&.--logout:hover {
		background: common.$primary;
		color: common.$bg-darker;
	}

	&.--login {
		background: common.$primary;
		color: common.$bg-darker;
	}

	span {
		font-size: 1.25rem;
		font-weight: 600;
	}

	svg {
		fill: common.$bg-darker;
	}

	img {
		border-radius: 10px;
	}

	&__icon-cntr {
		height: 1.5em;
		width: 1.5em;
	}
}

.btn {
	display: flex;
	align-items: center;
	gap: 0.5em;
	padding: 0.25em 0.5em;
	border-radius: 10px;

	font-size: 1.2rem;

	svg {
		width: 1.25em;
	}

	&.--submit {
		// background: #369133;
		background: common.$primary;
	}

	&.--cancel {
		background: common.$faded;
	}

	&.--delete {
		background: common.$danger;
	}

	&:disabled {
		filter: brightness(60%) grayscale(40%);
	}
}

.songsmall {
	justify-self: start;
	display: flex;

	gap: 1em;

	&__img-cntr {
		flex-shrink: 0;
		border-radius: 5px;
		overflow: hidden;
		width: 3em;
		height: 3em;
	}

	&__info {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
	}

	&__name {
		font-weight: 500;
		font-size: 1.25rem;
	}

	&__artist {
		font-weight: 400;
		font-size: 0.9375rem;
	}
}

.songfull {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em 0.75em;
	border-radius: 10px;
	transition: background 50ms ease-out;

	.songsmall__img-cntr {
		position: relative;
		z-index: 1;
	}

	&__cntr {
		&:not(:last-child) {
			margin-right: 2em;
			flex: 200px 1 1;
		}

		&.--fixed-width {
			width: 4em;
			text-align: right;
		}
	}

	&__album,
	&__duration {
		font-size: 1.15rem;
		font-weight: 500;
	}

	&__btn {
		&.--play,
		&.--delete {
			display: none;
		}

		&.--play {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			padding: 4px;

			svg {
				fill: common.$primary;
			}
		}

		&.--delete {
			width: 1.5em;
		}
	}

	&__checkbox {
		background-color: common.$faded;
		padding: 10px;
		border-radius: 3px;
		position: relative;
		cursor: pointer;

		&:checked {
			background-color: common.$primary;
		}

		&:checked::after {
			content: '\2714';
			font-size: 14px;
			position: absolute;
			top: 0;
			left: 5px;
			color: common.$bg-darker;
		}
	}

	&:hover {
		background: common.$faded;

		.songfull__btn {
			&.--play,
			&.--delete {
				display: initial;
			}
		}

		.songfull__duration {
			display: none;
		}
	}
}

.popup {
	position: absolute;
	top: 50%;
	left: 50%;

	background: common.$bg-darker;
	padding: 2.25em;
	border-radius: 16px;

	transform: scale(0.95) translate(-52.5%, -52.5%);
	opacity: 0;
	z-index: -1;
	pointer-events: none;
	transition: transform 150ms ease-out, opacity 150ms ease-out, z-index 150ms ease-out;
	&.--shown {
		transform: scale(1) translate(-50%, -50%);
		opacity: 1;
		z-index: 999;
		pointer-events: all;
	}

	&__behind {
		transition: filter 150ms ease-out;

		&.--defocus {
			filter: blur(3px) brightness(75%);
			pointer-events: none;
		}
	}
}

.error {
	color: change-color(common.$faded, $alpha: 0.3);
}
