@charset "UTF-8";
/* ========
	Resets
	======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}

button {
  color: inherit;
  background: inherit;
  font: inherit;
  outline: none;
  border: none;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
  pointer-events: none;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

input[type=text] {
  background: inherit;
  font: inherit;
  color: inherit;
  border: 0;
  display: block;
  outline: 0;
  width: 100%;
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type=range] {
  width: 100%;
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

/* ===============
	Global Styles
	=============== */
body {
  font-family: Cabin, sans-serif;
  color: #d3d3d3;
  background: #141b2c;
  overflow-y: scroll;
}

main {
  padding: 2em 3em 3em 3em;
  margin-bottom: 5em;
  -webkit-animation: main-mount-anim 200ms ease-out;
          animation: main-mount-anim 200ms ease-out;
}

@-webkit-keyframes main-mount-anim {
  from {
    transform: scale(0.96);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes main-mount-anim {
  from {
    transform: scale(0.96);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
}

h4 {
  font-weight: 500;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #df235b;
}

svg {
  fill: #d3d3d3;
}

button:disabled {
  filter: brightness(60%) grayscale(40%);
}

.gbtn {
  cursor: pointer;
  padding: 0.25em 0.5em;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.75em;
  transition: background 150ms ease, color 150ms ease;
}
.gbtn.--logout:hover {
  background: #df235b;
  color: #0f1626;
}
.gbtn.--login {
  background: #df235b;
  color: #0f1626;
}
.gbtn span {
  font-size: 1.25rem;
  font-weight: 600;
}
.gbtn svg {
  fill: #0f1626;
}
.gbtn img {
  border-radius: 10px;
}
.gbtn__icon-cntr {
  height: 1.5em;
  width: 1.5em;
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.25em 0.5em;
  border-radius: 10px;
  font-size: 1.2rem;
}
.btn svg {
  width: 1.25em;
}
.btn.--submit {
  background: #df235b;
}
.btn.--cancel {
  background: rgba(218, 218, 218, 0.2);
}
.btn.--delete {
  background: #a72117;
}

.songsmall {
  justify-self: start;
  display: flex;
  gap: 1em;
}
.songsmall__img-cntr {
  flex-shrink: 0;
  border-radius: 5px;
  overflow: hidden;
  width: 3em;
  height: 3em;
}
.songsmall__info {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.songsmall__name {
  font-weight: 500;
  font-size: 1.25rem;
}
.songsmall__artist {
  font-weight: 400;
  font-size: 0.9375rem;
}

.songfull {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.75em;
  border-radius: 10px;
  transition: background 50ms ease-out;
}
.songfull .songsmall__img-cntr {
  position: relative;
  z-index: 1;
}
.songfull__cntr:not(:last-child) {
  margin-right: 2em;
  flex: 200px 1 1;
}
.songfull__cntr.--fixed-width {
  width: 4em;
  text-align: right;
}
.songfull__album, .songfull__duration {
  font-size: 1.15rem;
  font-weight: 500;
}
.songfull__btn.--play, .songfull__btn.--delete {
  display: none;
  transition: transform 50ms ease-in-out;
}
.songfull__btn.--play:active, .songfull__btn.--delete:active {
  transform: scale(0.95);
}
.songfull__btn.--play {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  padding: 4px;
}
.songfull__btn.--play svg {
  fill: #df235b;
}
.songfull__btn.--delete {
  width: 1.5em;
}
.songfull__checkbox {
  background-color: rgba(218, 218, 218, 0.2);
  padding: 10px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}
.songfull__checkbox:checked {
  background-color: #df235b;
}
.songfull__checkbox:checked::after {
  content: "✔";
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 5px;
  color: #0f1626;
}
.songfull:hover {
  background: rgba(218, 218, 218, 0.2);
}
.songfull:hover .songfull__btn.--play, .songfull:hover .songfull__btn.--delete {
  display: initial;
}
.songfull:hover .songfull__duration {
  display: none;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #0f1626;
  padding: 2.25em;
  border-radius: 16px;
  transform: scale(0.95) translate(-52.5%, -52.5%);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  transition: transform 150ms ease-out, opacity 150ms ease-out, z-index 150ms ease-out;
}
.popup.--shown {
  transform: scale(1) translate(-50%, -50%);
  opacity: 1;
  z-index: 999;
  pointer-events: all;
}
.popup__behind {
  transition: filter 150ms ease-out;
}
.popup__behind.--defocus {
  filter: blur(3px) brightness(75%);
  pointer-events: none;
}

.error {
  color: rgba(218, 218, 218, 0.3);
}/*# sourceMappingURL=App.css.map */